
aside {
  width: 96px;
  height: 100vh;
  position: fixed;
  background-color: red;
  z-index: 10;
}

.main-content {
  width: 100%;
  margin-left: 96px;
  font-size: 0;
}

$left-part-width: 43.3%;
.left-part {
  display: inline-block;
  width: $left-part-width;
  height: 700px;   //////////////////////////////////////////////////////////////////////
  font-size: 16px;

}

.left-part {
  text-align: right;

  img {
    display: inline-block;
    margin-right: 25px;
    margin-top: 45px;

  }
}

.slick-slider {

}




.right-part {
  display: inline-block;
  width: 100% - $left-part-width;
  vertical-align: top;
  font-size: 16px;
  padding-right: 30%;

  .manager--block {
    padding-top: 42px;
    padding-bottom: 90px;

    h1 {
      width: 550px;
      font-family: "MuseoSansCyrl-700";
      font-size: 64px;
      line-height: 115%;
      color: red;
    }

    p {
      margin: 32px 0 0 0;
      font-size: 23px;
      font-family: "MuseoSansCyrl-500";
      line-height: 1.35;
    }

  }

  .q_and_a--block {
    padding: 50px 0 50px 72px;
    line-height: 1.35;

    p {
      margin-top: 50px;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        @include oneline-sprite-box($icons, team);
        @include pseudo-block($top: 6px, $left: -64px);
      }

      &:nth-child(3) {
        margin-top: 0;
        text-indent: 35px;

        &:before {
          display: none;
        }
      }

      &:nth-child(2):before {
        @include oneline-sprite-box($icons, aim);
      }

      &:nth-child(4):before {
        @include oneline-sprite-box($icons, list);
      }

      &:nth-child(5):before {
        @include oneline-sprite-box($icons, ball);
      }

      &:nth-child(6):before {
        @include oneline-sprite-box($icons, stadium);
      }

      &:nth-child(7):before {
        @include oneline-sprite-box($icons, searching-people);
      }

      &:nth-child(8):before {
        @include oneline-sprite-box($icons, eiffel-tower);
      }

      &:nth-child(9):before {
        @include oneline-sprite-box($icons, russia_emblem);
      }

      &:nth-child(10):before {
        @include oneline-sprite-box($icons, like-hand);
      }
    }
  }


}